.OStavka {
  margin: 40px auto;
  position: relative;
  width: 270px;
  height: 370px;
  border-radius: 15px;
  padding: 15px;
  background-color: #a2d2ff;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: filter 0.3s ease;
}
.OStavka:hover{
  filter: brightness(0.8);
} 

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 2, 69, 0.8); /* tamna boja sa prozirnošću */
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
  pointer-events: none;
  text-align: center;
}

.OStavka:hover .overlay{
  opacity: 1;
}
.OStavka img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 15px;
}

.opis {
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #003049;
}
.opis h3:first-child {
  margin-bottom: 10px;
  margin: 5px;
}
.opis h3:last-child {
  text-align: left;
  padding-left: 10px;
  margin-top: auto;
  font-size: 13px;
  
  
}


.Okomp-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.Okomp-info .naziv, .lokacija {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 2px;
  margin-top: 5px;
}
.vrsta{
 background-color: #ffafcc;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  
}
.vrsta h3{
  padding: 5px;
  
}


