
.detalji {
  max-width: 800px;
  margin: 150px auto;
  padding: 30px;
  background-color: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
  color: #03045e;
}

.zaglavlje {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.zaglavlje img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.naziv h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.naziv h3 {
  font-size: 18px;
  margin-top: 5px;
  color: #023e8a;
}

.telo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pozicija h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.pozicija p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.oglas-opis p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
.oglas-opis h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
.ogl {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}


