.oglasi-stranica {
  padding: 40px 20px; 
  margin-top: 80px;  
}

.lista-oglasa {
  display: flex;
  flex-wrap: wrap;         /* omogućava prelazak u novi red ako nema mjesta */
  gap: 40px;               /* razmak između kartica */
  justify-content: flex-start; /* centriraj kartice horizontalno */
}
