.oglasi-stranica {
  padding: 40px 20px; 
  margin-top: 80px;  
 /* background: linear-gradient(#ffc8dd8a);*/
  background: linear-gradient(#bde0fe84);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.lista-oglasa {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}


.filteri {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;

}
.filteri select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
}
.paginacija {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.paginacija button {
  padding: 10px 20px;
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.paginacija button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.paginacija span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
