.KStavka {
  margin: 40px auto;
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 15px;
  padding: 15px;
  background-color: #ffc8dd;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: filter 0.3s ease;
}
.KStavka:hover{
  filter: brightness(0.8);
} 
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 2, 69, 0.8); /* tamna boja sa prozirnošću */
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
  pointer-events: none;
  text-align: center;
}
.KStavka:hover .overlay{
  opacity: 1;
}
.KStavka img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 15px;
}
.komp-detalji{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.komp-detalji .naziv, .lokacija {
  /*display: flex;
  align-items: center;
  gap: 5px;*/
  color: #003049;
  margin-bottom: 5px;
  margin-top: 5px;
}
.stanje{
  border: #003049;
  display: flex;
 align-items: flex-start;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 5px;
  
}