.App {
:root {
	--color-primary: #B3C8CF;
	--color-secondary: #A79277;
	--color-tertiary: #E5DDC5;
	--color-success: #F1EEDC;
	--color-warning: #A79277;
	--color-danger: #c5000f;
	--color-light: #BED7DC;
	--color-medium: #5f5f5f;
	--color-dark: #2f2f2f;
  --font-primary:'Poppins', sans-serif;
}


html,body{
  font-size: 14px;
  font-family: var(--font-primary);
  background-color: #2f2f2f;
}

::-webkit-scrollbar{
  width: 0.375rem;
}

::-webkit-scrollbar-track{
  background: var(--color-light);
}

::-webkit-scrollbar-thumb{
  background: var(--color-primary);
}

a{
  text-decoration: none;
}
.container_fluid{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1320px;
}

.btn_wrapper{
  margin-top: 5rem;

  @media(max-width: 992px){
    width: 100%;
    text-align: center;
    display: block;
  }
  @media(max-width: 767px) {
    margin-bottom: 3rem;
  }

  .btn{
    padding: 0.857rem 2.571rem;
    font-size: 1.143rem;
    border-radius: 2.143rem;
    font-weight: 600;
    box-shadow: 0 0.5rem 1rem rgb(16, 16, 16);
    outline: 2px solid var(--color-primary);
    border: none;
    cursor: pointer;
    background: var(--color-primary);
    transition: all .3s ease-in-out;
  }
}

h1{
  font-size: 3.875rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  color: white;
}
h2{
  font-size: 2.875rem;
  font-weight: 600;
  color: white;
}

h3{
  font-size: 2.25rem;
  font-weight: 600;
  color: white;
}
h4{
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: white;
}
h5{
  font-size: 1.5rem;
  line-height: 1.2rem;
  margin-bottom: .9375rem;
  font-weight: 500;
  color: white;
}
h6{
  font-size: .875rem;
  margin-bottom: .9375rem;
  font-weight: 300;
  color: white;
}

p{
  font-size: 1rem;
  color: grey;
  line-height: 1.625rem;
}
}

