*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #f9fcfd;
  
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 5%;
  padding-right: 10%;

}


